name: Build Distribution Snapshot

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-store:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6

      - name: Install dependencies
        uses: bahmutov/npm-install@v1

      - name: Run tests
        run: npm run test:ci

      - name: Build project
        run: npm run build

      - name: Upload snapshot distribution package
        uses: actions/upload-artifact@v5
        with:
          name: klokku-ui-snapshot
          path: ./dist
          if-no-files-found: 'error'
